<div class="container" >
    <h1>Contact Us</h1>
    <hr>
    <h2>Have any questions? We'd love to hear from you</h2>
    <div class="contact-items">
      <div class="customer-care">
        <h3>Trending Topics</h3>
        <p>Let us walk you through  our services step-by-step</p>
        <button id="cust-care"> Search</button>
        <a routerLink="/fronttopics"> Frequently asked Questions</a>
      </div>
        <div class="write-us">
            <h3>Private Email</h3>
            <p> You can write us if you have any queries</p>
           <a routerLink="/form"> <button id="write">Get Email</button></a>
        </div>
        <div class="sales-market">
            <h3> Chat with a live Person</h3>
            <p>Need help? We're always here for you.</p>
            <button id="sales">Get in Touch</button>




        </div>
    </div>
  </div>
